*{
	margin: 0;
	padding: 0;
}

.player-wrapper,
.header,
.scorePanel-wrapper,
.button-wrapper,
.buttonLast,
.input-wrapper,
.socialList{
	display: flex;
	justify-content: center;
	align-items: center;
}

.scorePanel,
.player,
.button{
	margin: 10px;
}

.button,
.socialList-logo,
.darkmode-button{
	cursor: pointer;
}

.body{
	background-color: #444;
}

.player-wrapper{
	font-size: 1.4em;
}

.input{
	font-size: 2em;
	text-align: center;
	padding: 0.3em 0 0.3em 0;
	width: 100px;
}

.main{
	color: #FFF;
}

.header,
.footer{
	margin: 0.5em;
	padding: 2em;
	background-color: #555;
	color: #FFF;
}

.scorePanel{
	border: 2px solid #666;
	padding: 0.5em;	
	font-size: 5em;
}

.scorePanel--one{
	background-color: rgba(50, 50, 255);
}

.scorePanel--two{
	background-color: rgba(255, 50, 0);
}

.button{
	font-size: 1.5em;
	padding: 10px;	
	color: #FFF;
	background-color: #666;
	border: 1px solid black;
	border-radius: 5px;
}

.darkmode{
	position: absolute;
	right: 10px;
}

.darkmode-button{
	background-color: white;
	padding: 20px;
}

.socialList{
	list-style-type: none;
}

.socialList-logo{
	margin: 10px;
	width: 50px;
}

.copyr{
	text-align: center;
	font-size: 0.8em;
}

/***  MOBILE ***/
@media screen and (max-width: 599px) and (min-width: 320px){
	.button{
		padding: 20px 40px 20px 40px;
		font-size: 2em;
	}

	.scorePanel{
		font-size: 6em;
	}

}

/*** TABLET ***/
@media screen and (max-width: 800px) and (min-width: 600px){
	.button{
		padding: 20px 40px 20px 40px;
		font-size: 2em;
	}

	.scorePanel{
		font-size: 6em;
	}
}


